<mat-card >
    <mat-card-header>
            <mat-card-title>{{heroe.superhero}}</mat-card-title>
            <mat-card-subtitle> {{heroe.alter_ego}}</mat-card-subtitle>
    </mat-card-header>
    
    <!-- <img matCardImage src="assets/heroes/{{heroe.id}}.jpg"> <!-- el id de las heroes coiciden con el nombre de la foto de cada uno -->  -->

    <img matCardImage [src]=" heroe | imagen">


    <mat-card-content>
        <h3>{{heroe.publisher}}</h3>
        <p>
            <strong>Primera aparicion: </strong> {{heroe.first_appearance}}
            <br>
            <strong>Personajes: </strong> {{heroe.characters}}
        </p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button 
                color="warn"
                [routerLink]="['/heroes', heroe.id ]"> <!-- //aca estoy yendo a la ruta de heroes:id, dado que estoy pasando como segundo argumeto del routerLink el ID del hereo, esto lo recibe porque el routerLink esta entre [] lo que indica que le estoy apsando argumentos para armar la ruta -->
            Leer mas...
        </button>
        <button mat-button 
                color="info"
                [routerLink]="['/heroes/editar', heroe.id ]">
            Editar
        </button>
    </mat-card-actions>
</mat-card>